<div class="navigation-wrapper">
  <nav class="container navigation">
    <a href="/">
      <img
        src="/assets/icons/home<%= active === 'home' ? '-fill': '' %>.svg"
        alt="home"
        class="icon"
      />
    </a>
    <a href="#">
      <img
        src="/assets/icons/search<%= active === 'search' ? '-fill': '' %>.svg"
        alt=""
        class="icon"
      />
    </a>

    <a href="<%= user ? '/post' : '/auth/google' %> ">
      <img
        src="/assets/icons/plus<%= active === 'post' ? '-fill': '' %>.svg"
        alt="post"
        class="icon large-icon"
      />
    </a>

    <a href="#">
      <img
        src="/assets/icons/notification<%= active === 'notification' ? '-fill': '' %>.svg"
        alt=""
        class="icon"
      />
    </a>

    <% if (user) { %>
    <a href="/profile">
      <img
        src="<%= user.photo %> "
        alt="<%= user.displayName %>"
        class="icon"
        style="border-radius: 99px; border: 2px solid #130f26"
        referrerpolicy="no-referrer"
      />
    </a>
    <% } else { %>
    <a href="/auth/google">
      <img src="/assets/icons/login.svg" alt="" class="icon" />
    </a>
    <% } %>
  </nav>
</div>
